In [1]:
import pandas as pd

In [2]:
df  = pd.read_csv("Student Depression Dataset.csv")

In [30]:
df

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [31]:
df.head

<bound method NDFrame.head of            id  Gender   Age           City Profession  Academic Pressure  \
0           2    Male  33.0  Visakhapatnam    Student                5.0
1           8  Female  24.0      Bangalore    Student                2.0
2          26    Male  31.0       Srinagar    Student                3.0
3          30  Female  28.0       Varanasi    Student                3.0
4          32  Female  25.0         Jaipur    Student                4.0
...       ...     ...   ...            ...        ...                ...
27896  140685  Female  27.0          Surat    Student                5.0
27897  140686    Male  27.0       Ludhiana    Student                2.0
27898  140689    Male  31.0      Faridabad    Student                3.0
27899  140690  Female  18.0       Ludhiana    Student                5.0
27900  140699    Male  27.0          Patna    Student                4.0

       Work Pressure  CGPA  Study Satisfaction  Job Satisfaction  \
0                0.0  8.97                 2.0               0.0
1                0.0  5.90                 5.0               0.0
2                0.0  7.03                 5.0               0.0
3                0.0  5.59                 2.0               0.0
4                0.0  8.13                 3.0               0.0
...              ...   ...                 ...               ...
27896            0.0  5.75                 5.0               0.0
27897            0.0  9.40                 3.0               0.0
27898            0.0  6.61                 4.0               0.0
27899            0.0  6.88                 2.0               0.0
27900            0.0  9.24                 1.0               0.0

          Sleep Duration Dietary Habits    Degree  \
0              5-6 hours        Healthy   B.Pharm
1              5-6 hours       Moderate       BSc
2      Less than 5 hours        Healthy        BA
3              7-8 hours       Moderate       BCA
4              5-6 hours       Moderate    M.Tech
...                  ...            ...       ...
27896          5-6 hours      Unhealthy  Class 12
27897  Less than 5 hours        Healthy       MSc
27898          5-6 hours      Unhealthy        MD
27899  Less than 5 hours        Healthy  Class 12
27900  Less than 5 hours        Healthy       BCA

      Have you ever had suicidal thoughts ?  Work/Study Hours  \
0                                       Yes               3.0
1                                        No               3.0
2                                        No               9.0
3                                       Yes               4.0
4                                       Yes               1.0
...                                     ...               ...
27896                                   Yes               7.0
27897                                    No               0.0
27898                                    No              12.0
27899                                   Yes              10.0
27900                                   Yes               2.0

       Financial Stress Family History of Mental Illness  Depression
0                   1.0                               No           1
1                   2.0                              Yes           0
2                   1.0                              Yes           0
3                   5.0                              Yes           1
4                   1.0                               No           0
...                 ...                              ...         ...
27896               1.0                              Yes           0
27897               3.0                              Yes           0
27898               2.0                               No           0
27899               5.0                               No           1
27900               3.0                              Yes           1

[27901 rows x 18 columns]>

In [5]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [6]:
#display the last five record of dataset
df.tail()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [7]:
#display the number of rows and columns 
df.shape

(27901, 18)

In [8]:
#display summary or info about datasets including datatypes and non null counts 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27898 non-null  float64
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(8), int64(2), object(8)
memory usage: 3.8+ MB

In [9]:
#get descriptive statistics for numerical columns in datasets
df.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27898.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,3.139867,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,1.437347,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,2.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,3.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,4.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,5.000000,1.000000

In [10]:
#select the age column from dataset
df["Age"]

0        33.0
1        24.0
2        31.0
3        28.0
4        25.0
         ...
27896    27.0
27897    27.0
27898    31.0
27899    18.0
27900    27.0
Name: Age, Length: 27901, dtype: float64

In [11]:
#select the age column from dataset
df["Age","id"]

KeyError: ('Age', 'id')

In [12]:
df["Age"],["id"]

(0        33.0
 1        24.0
 2        31.0
 3        28.0
 4        25.0
          ...
 27896    27.0
 27897    27.0
 27898    31.0
 27899    18.0
 27900    27.0
 Name: Age, Length: 27901, dtype: float64,
 ['id'])

In [13]:
df["Age"],["CGPA"]

(0        33.0
 1        24.0
 2        31.0
 3        28.0
 4        25.0
          ...
 27896    27.0
 27897    27.0
 27898    31.0
 27899    18.0
 27900    27.0
 Name: Age, Length: 27901, dtype: float64,
 ['CGPA'])

In [14]:
df[["Age","CGPA"]]

        Age  CGPA
0      33.0  8.97
1      24.0  5.90
2      31.0  7.03
3      28.0  5.59
4      25.0  8.13
...     ...   ...
27896  27.0  5.75
27897  27.0  9.40
27898  31.0  6.61
27899  18.0  6.88
27900  27.0  9.24

[27901 rows x 2 columns]

In [15]:
#SELECT THE FIRST ROW FROM THE DATASETS BY INDEX 
df.iloc[0]

id                                                   2
Gender                                            Male
Age                                               33.0
City                                     Visakhapatnam
Profession                                     Student
Academic Pressure                                  5.0
Work Pressure                                      0.0
CGPA                                              8.97
Study Satisfaction                                 2.0
Job Satisfaction                                   0.0
Sleep Duration                               5-6 hours
Dietary Habits                                 Healthy
Degree                                         B.Pharm
Have you ever had suicidal thoughts ?              Yes
Work/Study Hours                                   3.0
Financial Stress                                   1.0
Family History of Mental Illness                    No
Depression                                           1
Name: 0, dtype: object

In [16]:
#select the row with label index 0 from dataset
df.loc[0]

id                                                   2
Gender                                            Male
Age                                               33.0
City                                     Visakhapatnam
Profession                                     Student
Academic Pressure                                  5.0
Work Pressure                                      0.0
CGPA                                              8.97
Study Satisfaction                                 2.0
Job Satisfaction                                   0.0
Sleep Duration                               5-6 hours
Dietary Habits                                 Healthy
Degree                                         B.Pharm
Have you ever had suicidal thoughts ?              Yes
Work/Study Hours                                   3.0
Financial Stress                                   1.0
Family History of Mental Illness                    No
Depression                                           1
Name: 0, dtype: object

In [17]:
df.loc[3]

id                                              30
Gender                                      Female
Age                                           28.0
City                                      Varanasi
Profession                                 Student
Academic Pressure                              3.0
Work Pressure                                  0.0
CGPA                                          5.59
Study Satisfaction                             2.0
Job Satisfaction                               0.0
Sleep Duration                           7-8 hours
Dietary Habits                            Moderate
Degree                                         BCA
Have you ever had suicidal thoughts ?          Yes
Work/Study Hours                               4.0
Financial Stress                               5.0
Family History of Mental Illness               Yes
Depression                                       1
Name: 3, dtype: object

In [18]:
df.iloc[3]

id                                              30
Gender                                      Female
Age                                           28.0
City                                      Varanasi
Profession                                 Student
Academic Pressure                              3.0
Work Pressure                                  0.0
CGPA                                          5.59
Study Satisfaction                             2.0
Job Satisfaction                               0.0
Sleep Duration                           7-8 hours
Dietary Habits                            Moderate
Degree                                         BCA
Have you ever had suicidal thoughts ?          Yes
Work/Study Hours                               4.0
Financial Stress                               5.0
Family History of Mental Illness               Yes
Depression                                       1
Name: 3, dtype: object

In [19]:
#select rows from 1 to 5 and column from 2 to 5
df.iloc[1:5,2:5]

    Age       City Profession
1  24.0  Bangalore    Student
2  31.0   Srinagar    Student
3  28.0   Varanasi    Student
4  25.0     Jaipur    Student

In [20]:
df.loc[1:5,2:5]

TypeError: cannot do slice indexing on Index with these indexers [2] of type int

In [ ]:
df.loc[[1:5,2:5]]

In [21]:
#FILTERING THE DATASETS FOR ROWS WHERE AGE IS GREATER THAN 40 
df[df["Age"]]

KeyError: "None of [Index([33.0, 24.0, 31.0, 28.0, 25.0, 29.0, 30.0, 30.0, 28.0, 31.0,\n       ...\n       28.0, 20.0, 24.0, 23.0, 31.0, 27.0, 27.0, 31.0, 18.0, 27.0],\n      dtype='float64', length=27901)] are in the [columns]"

In [22]:
df[df["Age"]>40]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
1076,5569,Female,42.0,Rajkot,Student,2.0,0.0,9.03,5.0,0.0,More than 8 hours,Moderate,Class 12,Yes,3.0,1.0,Yes,0
2909,14768,Female,58.0,Chennai,Student,4.0,0.0,8.58,1.0,0.0,7-8 hours,Healthy,Class 12,No,4.0,4.0,No,0
3436,17213,Male,49.0,Nagpur,Student,3.0,0.0,6.47,3.0,0.0,5-6 hours,Moderate,Class 12,Yes,2.0,1.0,Yes,0
4386,22004,Female,51.0,Bhopal,Student,2.0,0.0,8.26,3.0,0.0,Less than 5 hours,Moderate,MBBS,Yes,5.0,5.0,Yes,0
5537,27918,Female,44.0,Srinagar,Student,1.0,0.0,6.83,3.0,0.0,Less than 5 hours,Unhealthy,BSc,No,4.0,3.0,No,0
6662,33392,Male,43.0,Rajkot,Student,5.0,0.0,5.64,2.0,0.0,5-6 hours,Moderate,B.Ed,No,9.0,4.0,Yes,1
9006,45393,Male,46.0,Nashik,Student,1.0,0.0,6.10,3.0,0.0,7-8 hours,Unhealthy,PhD,No,4.0,2.0,No,0
9238,46602,Male,59.0,Nashik,Student,1.0,0.0,8.14,1.0,0.0,5-6 hours,Unhealthy,PhD,Yes,10.0,4.0,Yes,0
11532,58262,Male,42.0,Kolkata,Student,5.0,0.0,6.10,1.0,0.0,Less than 5 hours,Healthy,MBBS,Yes,10.0,4.0,No,1
13499,68441,Male,54.0,Agra,Student,5.0,0.0,9.60,2.0,0.0,More than 8 hours,Unhealthy,B.Ed,Yes,9.0,3.0,Yes,0
13618,69032,Female,48.0,Ghaziabad,Student,3.0,0.0,7.48,5.0,0.0,More than 8 hours,Healthy,LLB,No,2.0,4.0,No,0
14819,74887,Female,56.0,Ludhiana,Student,3.0,0.0,7.94,5.0,0.0,5-6 hours,Unhealthy,BSc,No,1.0,5.0,Yes,0
16757,84722,Female,43.0,Bhopal,Student,5.0,0.0,9.67,1.0,0.0,7-8 hours,Healthy,MSc,Yes,2.0,3.0,Yes,0
18766,94978,Female,46.0,Lucknow,Student,3.0,0.0,6.83,1.0,0.0,5-6 hours,Healthy,MCA,No,8.0,5.0,No,1
22101,111622,Female,42.0,Vasai-Virar,Student,5.0,0.0,9.56,2.0,0.0,5-6 hours,Moderate,PhD,No,4.0,2.0,Yes,0
23414,118005,Male,42.0,Ludhiana,Student,5.0,0.0,5.32,4.0,0.0,7-8 hours,Unhealthy,Class 12,No,12.0,5.0,Yes,1
25202,126970,Female,48.0,Rajkot,Student,3.0,0.0,5.32,4.0,0.0,7-8 hours,Unhealthy,Class 12,No,1.0,4.0,Yes,1
25974,130893,Male,41.0,Patna,Student,3.0,0.0,5.85,1.0,0.0,5-6 hours,Moderate,Class 12,No,11.0,5.0,Yes,1
27334,137827,Female,48.0,Surat,Student,1.0,0.0,8.92,4.0,0.0,7-8 hours,Moderate,MD,Yes,12.0,4.0,Yes,0

In [23]:
#use a query method to filter rows where age is greater than 40
df.query("Age > 40")

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
1076,5569,Female,42.0,Rajkot,Student,2.0,0.0,9.03,5.0,0.0,More than 8 hours,Moderate,Class 12,Yes,3.0,1.0,Yes,0
2909,14768,Female,58.0,Chennai,Student,4.0,0.0,8.58,1.0,0.0,7-8 hours,Healthy,Class 12,No,4.0,4.0,No,0
3436,17213,Male,49.0,Nagpur,Student,3.0,0.0,6.47,3.0,0.0,5-6 hours,Moderate,Class 12,Yes,2.0,1.0,Yes,0
4386,22004,Female,51.0,Bhopal,Student,2.0,0.0,8.26,3.0,0.0,Less than 5 hours,Moderate,MBBS,Yes,5.0,5.0,Yes,0
5537,27918,Female,44.0,Srinagar,Student,1.0,0.0,6.83,3.0,0.0,Less than 5 hours,Unhealthy,BSc,No,4.0,3.0,No,0
6662,33392,Male,43.0,Rajkot,Student,5.0,0.0,5.64,2.0,0.0,5-6 hours,Moderate,B.Ed,No,9.0,4.0,Yes,1
9006,45393,Male,46.0,Nashik,Student,1.0,0.0,6.10,3.0,0.0,7-8 hours,Unhealthy,PhD,No,4.0,2.0,No,0
9238,46602,Male,59.0,Nashik,Student,1.0,0.0,8.14,1.0,0.0,5-6 hours,Unhealthy,PhD,Yes,10.0,4.0,Yes,0
11532,58262,Male,42.0,Kolkata,Student,5.0,0.0,6.10,1.0,0.0,Less than 5 hours,Healthy,MBBS,Yes,10.0,4.0,No,1
13499,68441,Male,54.0,Agra,Student,5.0,0.0,9.60,2.0,0.0,More than 8 hours,Unhealthy,B.Ed,Yes,9.0,3.0,Yes,0
13618,69032,Female,48.0,Ghaziabad,Student,3.0,0.0,7.48,5.0,0.0,More than 8 hours,Healthy,LLB,No,2.0,4.0,No,0
14819,74887,Female,56.0,Ludhiana,Student,3.0,0.0,7.94,5.0,0.0,5-6 hours,Unhealthy,BSc,No,1.0,5.0,Yes,0
16757,84722,Female,43.0,Bhopal,Student,5.0,0.0,9.67,1.0,0.0,7-8 hours,Healthy,MSc,Yes,2.0,3.0,Yes,0
18766,94978,Female,46.0,Lucknow,Student,3.0,0.0,6.83,1.0,0.0,5-6 hours,Healthy,MCA,No,8.0,5.0,No,1
22101,111622,Female,42.0,Vasai-Virar,Student,5.0,0.0,9.56,2.0,0.0,5-6 hours,Moderate,PhD,No,4.0,2.0,Yes,0
23414,118005,Male,42.0,Ludhiana,Student,5.0,0.0,5.32,4.0,0.0,7-8 hours,Unhealthy,Class 12,No,12.0,5.0,Yes,1
25202,126970,Female,48.0,Rajkot,Student,3.0,0.0,5.32,4.0,0.0,7-8 hours,Unhealthy,Class 12,No,1.0,4.0,Yes,1
25974,130893,Male,41.0,Patna,Student,3.0,0.0,5.85,1.0,0.0,5-6 hours,Moderate,Class 12,No,11.0,5.0,Yes,1
27334,137827,Female,48.0,Surat,Student,1.0,0.0,8.92,4.0,0.0,7-8 hours,Moderate,MD,Yes,12.0,4.0,Yes,0

In [24]:
#check if there are any missing values in dataframes

In [25]:
#check if there are any missing values in dataframes
df.isnull()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27897,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27898,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27899,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
27900,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [26]:
#count the number of missing values of in the column
df.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         3
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [27]:
df.fillna(0)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [28]:
df.fillna(0)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1